{% extends 'base.html' %}
{% load static %}
{% block title %}
Arts Home | Arts & Sports Management
{% endblock %}
{% block content %}
    <!-- preloader -->
    <div class="loader">
        <img src="{% static 'media/loading.gif' %}" alt="">
    </div>
    <main class="h-screen">
        <script src="{% static 'js/script.js' %}"></script>
        <div class="h-1/2 w-screen  grid bg-slate-100 md:flex items-center md:justify-evenly">
            <div
                class="bl1_arts w-full h-full md:h-5/6 md:w-5/12 shadow-2xl border-2 md:rounded cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="/arts/register">
                    <p class="flex justify-center items-center h-full">Registration</p>
                </a>
            </div>
            <div
                class="bl2_arts w-full h-full md:h-5/6 md:w-5/12 shadow-2xl border-2 md:rounded cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="/arts/gallery">
                    <p class="flex justify-center items-center h-full">Gallery</p>
                </a>
            </div>
        </div>

        <div class="h-1/2 w-screen grid bg-slate-100 md:flex items-center md:justify-evenly">
            <div
                class="bl3_arts w-full h-full md:h-5/6 md:w-5/12 shadow-2xl border-2 md:rounded cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="/arts/details">
                    <p class="flex justify-center items-center h-full">Details</p>
                </a>
            </div>
            <div
                class="bl4_arts w-full h-full md:h-5/6 md:w-5/12 shadow-2xl border-2 md:rounded cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="/arts/score">
                    <p class="flex justify-center items-center h-full">Score <br> Live updates</p>
                </a>
            </div>
        </div>
    </main>
    <style>
        .bl1_arts {
            background-image:
                linear-gradient(to right,
                    rgba(70, 70, 70, 0.582), hsla(0, 0%, 25%, 0.411)),
                url("{% static 'media/arts_in_1.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-weight: 500;
        }
        .bl1_arts:hover {
            background-image:
                linear-gradient(to right,
                    hsla(0, 0%, 25%, 0.815), hsla(0, 0%, 25%, 0.815)),
                url("{% static 'media/arts_in_1.jpg' %}");
        }

        .bl2_arts {
            background-image:
                linear-gradient(to right,
                    rgba(70, 70, 70, 0.582), hsla(0, 0%, 25%, 0.411)),
                url("{% static 'media/arts_in_2.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-weight: 500;
        }
        .bl2_arts:hover {
            background-image:
                linear-gradient(to right,
                    hsla(0, 0%, 25%, 0.815), hsla(0, 0%, 25%, 0.815)),
                url("{% static 'media/arts_in_2.jpg' %}");
        }

        .bl3_arts {
            background-image:
                linear-gradient(to right,
                    rgba(70, 70, 70, 0.582), hsla(0, 0%, 25%, 0.411)),
                url("{% static 'media/arts_in_3.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-weight: 500;
        }
        .bl3_arts:hover {
            background-image:
                linear-gradient(to right,
                    hsla(0, 0%, 25%, 0.815), hsla(0, 0%, 25%, 0.815)),
                url("{% static 'media/arts_in_3.jpg' %}");
        }

        .bl4_arts {
            background-image:
                linear-gradient(to right,
                    rgba(70, 70, 70, 0.582), hsla(0, 0%, 25%, 0.411)),
                url("{% static 'media/arts_in_4.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            font-weight: 500;
        }
        .bl4_arts:hover {
            background-image:
                linear-gradient(to right,
                    hsla(0, 0%, 25%, 0.815), hsla(0, 0%, 25%, 0.815)),
                url("{% static 'media/arts_in_4.jpg' %}");
        }
    </style>

    <!-- footer starts -->
    {% endblock %}
