{% extends 'base.html' %}
{% load static %}
{% block title %}
Arts Details | artspo
{% endblock %}
{% block content %}
<style>
    .hei {
        min-height: 83vh;
    }
</style>
<main class="hei bg-slate-100">
    <nav class="w-full bg-white shadow-md">
        <div class="p-4 text-3xl font-semibold text-slate-700">Arts detail</div>
    </nav>
    <style>
        #journal-scroll::-webkit-scrollbar {
            width: 4px;
            cursor: pointer;
            /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
        }

        #journal-scroll::-webkit-scrollbar-track {
            background-color: rgba(229, 231, 235, var(--bg-opacity));
            cursor: pointer;
            /*background: red;*/
        }

        #journal-scroll::-webkit-scrollbar-thumb {
            cursor: pointer;
            background-color: #a0aec0;
            /*outline: 1px solid slategrey;*/
        }
    </style>
    <details class="p-5">
        <summary class="list-none text-slate-600 hover:text-slate-800 font-semibold cursor-pointer text-3xl">Events
            <span class="text-sm ">(click to expand/ shrink)</span>
        </summary>
        <div class="container md:mx-auto py-10 md:flex justify-center h-full ">
            <div class="md:w-10/12 w-11/12 pl-4  h-full flex flex-col shadow-lg bg-white">
                <div class="bg-white text-xl text-gray-500 font-bold px-5 py-2 shadow border-b  border-gray-300">
                    Events
                </div>
                <div class="w-full h-full overflow-auto shadow bg-white" id="journal-scroll">
                    <table class="w-full">
                        <tbody class="">
                            {% for i in details %}
                            <tr
                                class="relative transform scale-100 text-xs py-1 border-b-2 border-blue-100 cursor-default">
                                <td class="p-4 whitespace-no-wrap">
                                    <div class="leading-5 text-gray-800 text-lg">{{i.event_name}}</div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </details>
    <details class="p-5">
        <summary class="list-none text-slate-600 hover:text-slate-800 font-semibold cursor-pointer text-3xl">Events and
            Schedule <span class="text-sm ">(click to expand)</span></summary>
        <div class="container md:mx-auto py-10 md:flex justify-center h-screen">
            <div class="md:w-10/12 w-11/12 pl-4  h-full flex flex-col">
                <div class="bg-white text-gray-500 font-bold px-5 py-2 shadow border-b border-gray-300 text-lg">
                    Events Schedule
                </div>
                <div class="w-full h-full overflow-auto shadow bg-white" id="journal-scroll">
                    <table class="w-full">
                        <tbody class="">{% if schedule %}
                            {% for i in schedule %}
                            <tr
                                class="relative transform scale-100 text-xs py-1 border-b-2 border-blue-100 cursor-default">
                                <td class="p-4 whitespace-no-wrap">
                                    <div class="text-gray-400 text-lg">{{i.event_dateTime|date}}</div>
                                    <div class="text-lg">{{i.event_dateTime|time}}</div>
                                </td>
                                <td class="px-2 py-2 whitespace-no-wrap">
                                    <div class="leading-5 text-gray-500 font-medium text-xl">{{i.event_name}}</div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="p-4 text-xl">
                                    No events scheduled
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </details>
</main>
{% endblock %}