{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- preloader --> 
    <div class="loader">
        <img src="{% static 'media/loading.gif' %}" alt="">
    </div>
    <main class="min-h-screen">
        <script src="{% static 'js/script.js' %}"></script>
<div class="container px-5 py-20 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Arts Gallery</h1>
    </div>
    <div class="flex flex-wrap -m-4">
        <!-- img component -->
        {% for i in ph %}
        <div class="lg:w-1/4 md:w-1/3 w-full p-4">
            <a href="#">
                <div class="flex relative">
                    <img alt="SportsPhotos" class="absolute inset-0 w-full h-full object-cover object-center"
                        src="{{i.image_file.url}}">
                    <div
                        class="px-8 py-10 relative z-10 w-full h-1/2 border-4 border-gray-200 bg-gray-600 opacity-0 hover:opacity-90">

                        <h1 class="title-font text-lg font-bold text-white hover:text-indigo-100 mb-3">{{i.image_name}}</h1>
                        <p class="leading-relaxed text-white">{{i.image_desc}} <br><br><br><br>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <!-- img component end -->


    </div>
</div>

</main>
{% endblock %}