{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    {{block.super}}
    <a href="{% url 'admin:index' %}">
        Arts & Sports Management Admin
    </a>
</h1>
{% endblock %}
{% block welcome-msg %} 
{{block.super}}
<a href="https://certificate-generate.kripaelectrolysis.com/"> generate e-certificate </a> /
{% endblock %}
{% block nav-global %} {{block.super}} {% endblock %}





