<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>arts</title>
</head>

<body>

    <div class="grid md:flex min-h-screen w-screen ">
        <div class="w-1/2 ">
            <div class=" h-1/2 flex justify-center items-center bg-slate-600">
                <p class="">registration</p>
            </div>
            <div class="flex justify-center items-center h-1/2 bg-red-400">
                <p class="text-center">gallery</p>
            </div>
        </div>
        <div class="w-1/2">
            <div class="flex justify-center items-center  h-1/2 bg-red-400">
                <p class="text-center">score& live</p>
            </div>
            <div class="flex justify-center items-center h-1/2 bg-slate-400">
                <p class="text-center">e certificate</p>
            </div>
        </div>
    </div>
</body>

</html>