<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>arts</title>
</head>

<body>
    <main class="h-screen">
        <div class="h-1/2 w-screen grid bg-slate-100 md:flex items-center  md:justify-evenly ">
            <div
                class="bg-gray-900 md:bg-gray-800 w-full h-full md:h-5/6 md:w-5/12 hover:shadow-2xl border-2 md:rounded hover:bg-gray-900 transition ease-out duration-300 hover:font-medium cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="arts.html">
                    <p class="flex justify-center items-center h-full">REGISTRATION</p>
                </a>
            </div>
            <div
                class="bg-gray-900 md:bg-gray-800 w-full h-full md:h-5/6 md:w-5/12 hover:shadow-2xl border-2 md:rounded hover:bg-gray-900 transition ease-out duration-300 hover:font-medium cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="sports.html">
                    <p class="flex justify-center items-center h-full">GALLERY</p>
                </a>
            </div>
        </div>

        <div class="h-1/2 w-screen grid bg-slate-100 md:flex items-center  md:justify-evenly ">
            <div
                class="bg-gray-900 md:bg-gray-800 w-full h-full md:h-5/6 md:w-5/12 hover:shadow-2xl border-2 md:rounded hover:bg-gray-900 transition ease-out duration-300 hover:font-medium cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="arts.html">
                    <p class="flex justify-center items-center h-full">E-CERTIFICATE</p>
                </a>
            </div>
            <div
                class="bg-gray-900 md:bg-gray-800 w-full h-full md:h-5/6 md:w-5/12 hover:shadow-2xl border-2 md:rounded hover:bg-gray-900 transition ease-out duration-300 hover:font-medium cursor-pointer text-white hover:rounded-md text-6xl">
                <a href="sports.html">
                    <p class="flex justify-center items-center h-full">SCORE</p>
                </a>
            </div>
        </div>
    </main>
</body>

</html>