.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100vh;
    z-index: 99999999;
    background-image: url('../img/Ripple-loader.gif'); /* your icon gif file path */
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
    }

    #stop-scrolling {
        height: 100% !important;
        overflow: hidden !important;
        }