<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>ARTSPO</title>
</head>

<body>
    <main class="h-screen  lg:flex">
        <div
            class="transition ease-in duration-500 lg:h-full h-1/2 lg:w-1/2 bg-slate-900 hover:bg-gray-50 text-5xl text-white  hover:text-black">
            <a href="arts.html">
                <p class="  font-bold text-center py-48 lg:p-0 lg:my-80 cursor-pointer ">ARTS</p>
            </a>
        </div>
        <div
            class="transition ease-in duration-500 lg:h-full h-1/2 lg:w-1/2 bg-gray-900 hover:bg-slate-50 text-white hover:text-black">
            <a href="sports.html">
                <p class="  text-5xl font-bold text-center py-48 lg:p-0 lg:my-80 cursor-pointer ">SPORTS</p>
            </a>
        </div>
    </main>

</body>

</html>